doctype html
html(lang='en-us')
    head
        include ../utils/meta.pug
        title='Leap Blog | ' + partials
        if environment == 'production'
            style(amp-custom)
                include ../../../assets/dist/main-app.css
        if environment != 'production'
            link(rel='stylesheet', type='text/css', href=`/assets/dist/main-app.css`)
            for cssPath in cssPaths
                link(rel='stylesheet', type='text/css', href=`/assets/dist/${cssPath}`)
    body.body
        #main-app!=reactApp
        include ../utils/noscript.pug
        include ../utils/scripts.pug
        include ../utils/token.pug
        script(async, src=`/assets/video/webrtc.min.js?id=${hashId}`)
        script(async, src='https://js.stripe.com/v3/')
        if environment == 'production'
            script(async, src=`/assets/dist/main-app.js?id=${hashId}`)
            script(async, src='https://cdn.polyfill.io/v2/polyfill.min.js?features=String.prototype.startsWith,Array.from,Array.prototype.fill,Array.prototype.keys,Array.prototype.findIndex,Number.isInteger&flags=gated')
        if environment != 'production'
            script(async, src=`/assets/dist/main-app.js`)
            for jsPath in jsPaths
                script(src=`/assets/dist/${jsPath}`, async)
