doctype html
html(lang='en-us')
    head
        include ../utils/meta.pug
        title='Leap Blog | ' + partials
        if environment == 'production'
            style(amp-custom)
                include ../../../assets/dist/public-app.css
        if environment != 'production'
            link(rel='stylesheet', type='text/css', href=`/assets/dist/public-app.css`)
            for cssPath in cssPaths
                link(rel='stylesheet', type='text/css', href=`/assets/dist/${cssPath}`)
    body.body
        #public-app!=reactApp
        include ../utils/noscript.pug
        include ../utils/scripts.pug
        include ../utils/token.pug
        if environment == 'production'
            script(async, src=`/assets/dist/public-app.js?id=${hashId}`)
        if environment != 'production'
            script(async, src=`/assets/dist/public-app.js`)
            for jsPath in jsPaths
                script(src=`/assets/dist/${jsPath}`, async)
